{% extends "base.html"%}

{% block main %}
<h1 class="pointer" onClick="window.location='{% url show_combo combo.slug %}';return false;">{{ combo.title|default:"Untitled" }}</h1>
<table>
    <tr>
        {% for color in combo.colors.all %}
            <td class="color" style="background-color: #{{ color.hex_string }}">
            </td>
        {% endfor %}
    </tr>
    <tr>
        {% for color in combo.colors.all %}
            <td style="text-align: center; height: 33px;">
                #{{ color.hex_string}}
                <br/>
                ({{color.red}},{{color.green}},{{color.blue}})
            </td>
        {% endfor %}
    </tr>
</table>

<script type="text/javascript">
DEFAULTS = {
    href:'{% url request_account %}',
    width: '60%',
    height: '60%'
}

</script>
{% if user.is_authenticated %}
<ul class="voting ui-corner-all">
    <li><a href="javascript:$.colorbox({href:'{% url request_account %}'}); return false;">Like</a></li> 
    <li><a href="javascript:$.colorbox({href:'{% url request_account %}'}); return false;">Favourite</a></li> 
    <li><a href="javascript:$.colorbox({href:'{% url request_account %}', width: '60%'}); return false;">Flag</a></li>
</ul>
{% else %}
<ul class="voting ui-corner-all">
    <li><a href="javascript:$.colorbox(DEFAULTS); return false;">Like</a></li> 
    <li><a href="javascript:$.colorbox(DEFAULTS); return false;">Favourite</a></li> 
    <li><a href="javascript:$.colorbox(DEFAULTS); return false;">Flag</a></li>
</ul>
{% endif %}

<table>
    <tr>
        <td>
            <h2>comments</h2>
            {{ photo.description|linebreaks }}
        </td>
        <td width="540px">
            <div style="width:540px; float:right">
                <div style="background-color:#f3f3f3; text-align:center;padding: 10px 20px 20px 20px" class="ui-corner-all">
                    <h2>Statistically derived from...</h2>
                    <a href="{{ combo.source }}"><img src="{{photo.url_m}}" style="padding-bottom: 20px"></a><br>
                    <span style="padding-top:5px;">See original <a href="{{ combo.source }}">{{photo.title|default:"image"}}</a></span>
                </div>
            <div>
        </td>
    </tr>
</table>
{% endblock main %}