<div class="modal">
<h2>Create an Account</h2>

<p>All contributors are required to register.</pv>

<form method="POST">
    <div class="align-center;">
        {{ form.email_address.label }}
            
        {{ form.email_address }}{{form.email_address.errors}}{{ form.email_address.help_text }}

{{ form.non_field_errors }}
        {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %} {% csrf_token %}
        <input type="submit" id="submit" class="submit" value="Send">
    </div>
</form>
</div>